.table.WPCF_EventSchedule_Calendar .table_col,
table.WPCF_EventSchedule_Calendar .table_td {
 width: 14.25%;
}
table.WPCF_EventSchedule_Calendar .table_td {
 border: 1px solid black;
}
.table.WPCF_EventSchedule_Calendar .table_row {
 width: 100%;
}
.table_header_row {
 text-align: center;
}