// FONTPLUS FONTS
$fontplus_brush_ninja-std-r		 : "HOT-忍者 Std R";
$fontplus_brush_manyo-gyosho-std-e	 : "FOT-万葉行書 Std E";
$fontplus_brush_ouka-std-r		 : "HOT-桜花 Std R";
$fontplus_brush_samurai-std-r		 : "HOT-さむらい Std R";
$fontplus_brush_gf-gyosho-std-e		 : "HOT-白舟極太行書 Std E";
$fontplus_brush_gf-kaisho-std-e		 : "HOT-白舟極太楷書 Std E";
$fontplus_brush_f-gyosho-std-b		 : "HOT-白舟太行書 Std B";
$fontplus_brush_gyosho-std-r		 : "HOT-白舟行書 Std R";
$fontplus_brush_ohhige113		 : "大髭113";
$fontplus_brush_ohhige115		 : "大髭115";
$fontplus_brush_bukotsu			 : "武骨";
$fontplus_brush_aun-m			 : "阿吽M";
$fontplus_brush_aun-u			 : "阿吽U";
$fontplus_brush_fp-hiragyo-std-n-w8 : "FP-ヒラギノ行書 StdN W8";
$fontplus_brush_fp-hiragyo-std-n-w4 : "FP-ヒラギノ行書 StdN W4";
$fontplus_brush_iwaseigepro : "I-OTF弘道軒清朝現代版Pro";
$fontplus_brush_greco_std-b: "FOT-グレコ Std B";
$fontplus_brush_manyogyosho_std-e: "FOT-万葉行書 Std E";

$fontplus_brush_fp-hiragyo-stdn-w4	 : "FP-ヒラギノ行書 StdN W4";
$fontplus_brush_fp-hiragyo-stdn-w8	 : "FP-ヒラギノ行書 StdN W8";


$fontplus_gothic-round_seurat-m		 : "SeuratPro-M";
$fontplus_gothic-round_seurat-db	 : "SeuratPro-DB";
$fontplus_gothic-round_seurat-b		 : "SeuratPro-B";
$fontplus_gothic-round_seurat-eb	 : "SeuratPro-EB";

$fontplus_serif_tsukumin_pr5-b : "FOT-筑紫明朝 Pr5 E";

$fontplus_serif_telop-mincho-pro-d : "FOT-テロップ明朝 Pro D";
$fontplus_serif_telop-mincho-pro-b : "FOT-テロップ明朝 Pro B";
$fontplus_serif_telop-mincho-pro-e : "FOT-テロップ明朝 Pro E";
$fontplus_serif_telop-mincho-pro-h : "FOT-テロップ明朝 Pro H";

$fontplus_serif_matisse-pro-l	 : "FOT-マティス Pro L";
$fontplus_serif_matisse-pro-m	 : "FOT-マティス Pro M";
$fontplus_serif_matisse-pro-db	 : "FOT-マティス Pro DB";
$fontplus_serif_matisse-pro-b	 : "FOT-マティス Pro B";
$fontplus_serif_matisse-pro-eb	 : "FOT-マティス Pro EB";
$fontplus_serif_matisse-pro-ub	 : "FOT-マティス Pro UB";

$fontplus_sans_newrodin-pro-l	 : "FOT-ニューロダン Pro L";
$fontplus_sans_newrodin-pro-m	 : "FOT-ニューロダン Pro M";
$fontplus_sans_newrodin-pro-db	 : "FOT-ニューロダン Pro DB";
$fontplus_sans_newrodin-pro-b	 : "FOT-ニューロダン Pro B";
$fontplus_sans_newrodin-pro-eb	 : "FOT-ニューロダン Pro EB";
$fontplus_sans_newrodin-pro-ub	 : "FOT-ニューロダン Pro UB";

$fontplus_sans_rodinwanpaku-pro-l	 : "FOT-ロダンわんぱく Pro L";
$fontplus_sans_rodinwanpaku-pro-m	 : "FOT-ロダンわんぱく Pro M";
$fontplus_sans_rodinwanpaku-pro-db	 : "FOT-ロダンわんぱく Pro DB";
$fontplus_sans_rodinwanpaku-pro-b	 : "FOT-ロダンわんぱく Pro B";
$fontplus_sans_rodinwanpaku-pro-eb	 : "FOT-ロダンわんぱく Pro EB";
$fontplus_sans_rodinwanpaku-pro-u	 : "FOT-ロダンわんぱく Pro U";

$fontplus_sans_udkakugo_large-pr6-ul	 : "FOT-UD角ゴ_ラージ Pr6 UL";
$fontplus_sans_udkakugo_large-pr6-el	 : "FOT-UD角ゴ_ラージ Pr6 EL";
$fontplus_sans_udkakugo_large-pr6-l	 : "FOT-UD角ゴ_ラージ Pr6 L";
$fontplus_sans_udkakugo_large-pr6-r	 : "FOT-UD角ゴ_ラージ Pr6 R";
$fontplus_sans_udkakugo_large-pr6-m	 : "FOT-UD角ゴ_ラージ Pr6 M";
$fontplus_sans_udkakugo_large-pr6-db	 : "FOT-UD角ゴ_ラージ Pr6 DB";
$fontplus_sans_udkakugo_large-pr6-b	 : "FOT-UD角ゴ_ラージ Pr6 B";
$fontplus_sans_udkakugo_large-pr6-e	 : "FOT-UD角ゴ_ラージ Pr6 E";
$fontplus_sans_udkakugo_large-pr6-h	 : "FOT-UD角ゴ_ラージ Pr6 H";
$fontplus_sans_udkakugo_large-pr6-u	 : "FOT-UD角ゴ_ラージ Pr6 U";

$fontplus_design_skip_l	: "FOT-スキップ Std L";
$fontplus_design_skip_m	: "FOT-スキップ Std M";
$fontplus_design_skip_d	: "FOT-スキップ Std D";
$fontplus_design_skip_b	: "FOT-スキップ Std B";
$fontplus_design_skip_e	: "FOT-スキップ Std E";

$fontplus_sans_ud-shingo-m	: "UD新ゴ M";
$fontplus_sans_ud-shingo-b	: "UD新ゴ B";
$fontplus_sans_ud-shingo-r	: "UD新ゴ R";

$fontplus_sans_ud-shinmarugo-r	: "UD新丸ゴ R";
$fontplus_sans_ud-shinmarugo-m	: "UD新丸ゴ M";
$fontplus_sans_ud-shinmarugo-b	: "UD新丸ゴ B";
