$screen_8k_w: 	8192px;
$screen_8k_h: 	4320px;
$screen_4k_w: 	4096px;
$screen_4k_h: 	2160px;
$screen_wqhd_w: 2560px;
$screen_wqhd_h: 1440px;
$screen_full_hd_w: 1920px;
$screen_full_hd_h: 1080px;
$screen_hd_w: 	1280px;
$screen_hd_h: 	720px;
$screen_vga_w: 	640px;
$screen_vga_h: 	480px;
